<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ElectroPiscis</title>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <script src="/static/jquery-1.10.2.js"></script>
      <script src='static/js/Chart.min.js'></script>
  </head>
  <body>
    {% include '/nav.html' %}
    {% block body %}{% endblock %}

   <script src="/static/jquery-3.2.1.slim.min.js"></script>
   <script src="/static/popper.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>
