{% extends 'base.html' %}

{% block body %}
<style>
 .panel-body.panel-custom-body {
    border-color: #696969F;
    background:#80ffdf; 
    color: black;
    }
 .panel-heading.panel-custom {
    border-color: #696969;
    background: #00BBBB;
    color: black;
    
}

</style>
<div class="panel panel-default">
  <div class="panel-heading text-center">Tanque 1</div>
<div class="row">
        <div class="col-xs-6 col-md-4  .col-md-offset-1">
	<div id="temperatura" class="panel panel-default">
  <div class="panel-heading text-center panel-custom">Temperatura (c)</div>
  <div class="panel-body text-center panel-custom-body">
    <h1>{{tvalues}}</h1>
  </div>
<div class="panel-footer text-center">Valor dentro de los parametros</div>
</div>
	
	</div>
        <div class="col-xs-6 col-md-4">
	<div class="panel panel-default">
  <div class="panel-heading text-center panel-custom">Oxigeno (ppm)</div>
  <div class="panel-body text-center panel-custom-body">
    <h1>{{oxvalues}}</h1>
  </div>
<div class="panel-footer text-center">Valor dentro de los parametros</div>
</div>
	</div>
        <div class="col-xs-6 col-md-4">
	<div class="panel panel-default">
  <div class="panel-heading text-center panel-custom">pH</div>
  <div id='modest' class="panel-body text-center panel-custom-body">
   <h1>{{phvalues}}</h1> 
  </div>
  <div class="panel-footer text-center">Valor dentro de los parametros</div>
</div>
</div>      
</div>
</div>

<script>
$("#temperatura").css('backgroundColor', function(){
    if (1 === 1){
        return 'red';
    }
    else {
        return 'purple';
    }
});

</script>

{% endblock %}
